.layered-board {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.layer {
    margin: 10px;
}

.line {
    display: flex;
    flex-direction: row;
}

.square {
    background: none;
	color: inherit;
    
	padding: 0;
    width:30px;
    height:30px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    display: inline-block;
    font-weight: bold;
}

.hidden {
    background-color: lightgrey;
}

.has_flag {
    background-image: url("./images/Flag.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.has_mine {
    background-image: url("./images/Mine.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.highlighted {
    background-color: lightyellow;
}

.hidden.highlighted {
    background-color: yellow;
}

.blue_text{
    color: blue;
}

.green_text{
    color: green;
}

.red_text{
    color: red;
}

.dark_blue_text{
    color: darkblue;
}

.dark_red_text{
    color: darkred;
}

.turquoise_text{
    color: turquoise;
}

.black_text{
    color: black;
}